title: "Jadelet - Lightweight, elegant HTML templates"
description: """
  Jadelet is the cleanest and simplest way to describe your templates. It is a breeze to learn. Jadelet attributes correspond directly with HTML attributes. If you know HTML then you already know Jadelet.
"""
dependencies:
  analytics: "distri/google-analytics:master"
