title: "Jadelet - Truly Outrageous Clientside Templates!"
description: """
  Jadelet delivers simple, powerful, and truly outrageous reactive templating. By
  making use of native DOM APIs Jadelet provides the cleanest and smallest
  runtime at less than 2.8k gzipped. Check it out. It might just blow your mind.
"""
dependencies:
  analytics: "distri/google-analytics:master"
